
/*
      z-index monitor:
      ----------------
~ header = 2 / styles.css
~ social media icons = 3 / styles.css
~ vertial progress bar = 1 / about.css
*/

html, body {
  height: 100%;
  width:100%;
}

/* Create the parallax scrolling effect */
#job-guardian, #job-gateGourmet, #job-yorkUni, #job-pcc, #hobbie-car {
    height: 45%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#job-guardian {
  background-image: url("../resources/images/theGuardian.jpg");
}

#hobbie-car {
  background-image: url("../resources/images/hobbie-car-bg.jpg");
}

#job-gateGourmet {
  background-image: url("../resources/images/airCanada.png");
}

#job-yorkUni {
  background-image: url("../resources/images/yorkUni.jpg");
}

#job-pcc {
  background-image: url("../resources/images/pointclickcare.png");
}


Turn off parallax scrolling for tablets and phones. Increase the pixels if needed
@media only screen and (max-device-width: 1366px) {
    #job-guardian, #job-gateGourmet, #job-yorkUni, #job-pcc, #hobbie-car {
        background-attachment: scroll;
    }
}


#roro-car {
  width: 100%;
  display: block;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 1%;
}

.milestoneContainer {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* header and content of each milestone */
.milestone {
  width: 80%;
  margin: 0 auto;
  border-radius: 15px 50px 30px;
  background-color: tomato;
}

.milestone th {
    height: 80px;
}

.milestone td {
    padding: 0% 1% 2% 8%;
}


/* vertical progress bar */
.progress-container {
  position: fixed;
  top: 0;
  left: 3px;
  width: 10px;
  height: 100%;
  background: transparent;
  z-index: 1;
}

.progress-bar {
  background: #4caf50;
  width: 100%;
}

.progress-text {
  position: absolute;
  top: 0%;
  width: max-content;
  left:100%;
  background-color: transparent;
  padding: 10px 25px 10px 25px;
}