
/*
      z-index monitor:
      ----------------
~ header = 2 / styles.css
~ social media icons = 3 / styles.css
~ vertial progress bar = 1 / about.css
*/


/* Create the parallax scrolling effect */
#bg-pic
{
    height: 37%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg-pic
{
  background-image: url("../resources/images/aboutme_pic1.jpg");
}


Turn off parallax scrolling for tablets and phones. Increase the pixels if needed
@media only screen and (max-device-width: 1366px) {
    #bg-pic {
        background-attachment: scroll;
    }
}

#roro-car {
  width: 100%;
  display: block;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 1%;
}

.outsideMilestone
{
  background-image: url("../resources/images/aboutme_pic1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

 .milestoneContainer
 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.milestone
{
  width: 80%;
  margin: 0 auto;
  border-radius: 15px 50px 30px;
}

.milestone td
{
    padding: 0% 1% 2% 8%;
    font-size: 1.5vw;
}


/*
 * Below are stylings for the vertical progress bar
 */

.progress-container {
  position: fixed;
  top: 0;
  width: 1vw;
  height: 100%;
  background: transparent;
  z-index: 1;
}

.progress-bar {
  background: #FF6666;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
}

.progress-content-container
{
  position: relative;
  left: 1vw;
  width: 15vw;
}

.progress-text {
  padding: 10px 25px 10px 25px;
  width: max-content;
}

.progress-img {
  max-width: 100%
}